html {

}

#popup-content {
  width: 300px;
}

label {
  display:block;
  font-size: 1em;
  font-weight:bold;
}

#saved {
  font-size:2em;
  color:green;
}

#not-saved {
  font-size:2em;
  color:red;
}


#save-status {
  margin:0 6%;
}
