html {

}

#popup-content {
  width: 400px;
}

label {
  font-weight:bold;
  font-size: 1.45em;
  margin: 10% 1%;
  color:#5f1396;

}

#saved {
  font-size:2em;
  color:green;
}

#not-saved {
  font-size:2em;
  color:red;
}


#save-status {
  margin:0 6%;
}

.button {
  margin: 5% 0;
}

.description {
  margin: 2% 7%;
  font-size: 1.25em;
}

input[type=text] {
  width: 90%;
  margin-top:2%;
}
