html {

}

#popup-content {
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display:block;
  font-size: 1em;
  font-weight:bold;
}

button {
  width:90%;
  font-size:1em;
  margin: 0 auto;
  text-align:center;
  display:table-cell;
  vertical-align: middle;
}
