html {
  background-color:#EDF1F4;
}

#popup-content {
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

}

label {
  display:block;
  font-size: 1em;
  font-weight:bold;
}

.button {

  display:block;
  background: url('../icons/gear.svg');
  width:20px;
  height: 20px;

  margin:5px;
}

.button:hover {
  background: url('../icons/gearHover.svg');
}
